<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form Inquiry from AiPath.gr</title>
    <style>
        /* Reset some default styles to ensure consistent rendering in email clients */
        body, table, td, a {
            font-family: Arial, sans-serif;
            font-size: 14px;
        }
        table {
            width: 100%;
            margin: 1rem 0;
            border-collapse: collapse;
        }
        td {
            padding: 10px;
            border: 1px solid #dddddd;
        }
        a {
            color: #fd914f;
            text-decoration: none;
        }
        /* Style your email content here */
        .email-container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }
        .header {
            background-color: #fd914f;
            color: #fff;
            text-align: center;
            padding: 20px;
        }
        .content {
            padding: 20px;
        }
        .message {
            border: 1px solid #dddddd;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="email-container">
        <div class="header">
            <h1>Νέο μήνυμα απο την φόρμα<br> "Επικοινωνίας"<br> της AiPath.gr</h1>
        </div>
        <div class="content">
            <p>Γεια σας,</p>
            <p>Έχετε νέο μήνυμα απο πελάτη:</p>
            <table>
                <tr>
                    <td><strong>Όνομα:</strong></td>
                    <td>{{name}}</td> <!-- Replace with customer's name -->
                </tr>
                <tr>
                    <td><strong>Email:</strong></td>
                    <td>{{email}}</td> <!-- Replace with customer's email -->
                </tr>
                <tr>
                    <td><strong>Τηλέφωνο:</strong></td>
                    <td>{{phone}}</td> <!-- Replace with customer's phone number -->
                </tr>
                <tr>
                    <td><strong>Θέμα:</strong></td>
                    <td>{{subject}}</td> <!-- Replace with subject from the contact form -->
                </tr>
            </table>
            <p><strong>Μήνυμα:</strong></p>
            <div class="message">
                <p>
                   {{content}}
                </p>
            </div>
        </div>
    </div>
</body>
</html>
